<h1>Baby Van Cleef's Hot Wheels Wish List</h1>
<p> We're trying to collect all 50 of Hot Wheels' 2011 New Models, since Ficus* is also
a 2011 New Model.  If you'd like to participate, great!  This is the list, and if you get ahold
of one, check it off and log your name in so the little guy will know where they all come from.</p><br />

<p>Disclaimer: please don't spend any serious cash on this endeavour- these are just the regular
cars, not the treasure hunt ones or any collector type items (and we'll have our registry up soon enough!).  When he's old enough, he'll definitely
be allowed to play with this set.  So don't spend $50 on ebay for one if we're short :)</p><br/>



<p>The cars on the list will say 2011 New Models at the bottom of the packaging, and
have a number out of 50 on the top right.<br />

<p>*Not final name selection.  That you know of.
<div id = "list">
  <%= will_paginate @cars %>
  <table>

    <tr>
      <th>Card #</th>
      <th>Description</th>
      <th>Who Found It?</th>
    </tr>

    <% @cars.each do |car| %>
      <tr>


        <% if user_signed_in? %>
          <td><%= link_to "#{car.card_id}/50", "/cars/#{car.id}/edit" %>
          <% else %>
            <td><%= car.card_id %>/50 </td>
          <% end %>


          <td><%= car.description %>
            <% if car.unavailable? %>**<% end %>
          </td>



          <% if car.purchased == true %>
            <td><%= car.buyer %>
              <td></td>
            <% else %>
              <td><%= form_for car do |f| %><%= f.text_field :buyer %>
                  <%= f.hidden_field :purchased, :value => true %></td>
                <td><%= f.submit "I got it!" %>
                <% end %>

              <% end %>

            </tr>

          <% end %>
        </table>
        <%= will_paginate @cars %>
        <%= link_to "Semi-Printable Full Wanted List", "/cars" %><br />
        ** - Car May Not Be Available Yet

      </div>

